// /**
//  * Copyright © Vasko Tasev. All rights reserved.
//  * See COPYING.txt for license details.
//  */


//
//  Custom theme style overrides
//  _____________________________________________


//
//  General Styling - Overrides
//  ---------------------------------------------

&::selection {
    background: #F44C65;
    color: #fff;
}

&::-moz-selection {
    background: #F44C65;
    color: #fff;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="tel"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;

    &:focus {
        box-shadow: 0 0 5px rgba(244, 76, 101, 1) !important;
        border: 1px solid rgba(244, 76, 101, 1);
        outline-color: rgba(244, 76, 101, 1);
    }
}

textarea {
    outline: none;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    overflow: auto;
    vertical-align: top;

    &:focus {
        box-shadow: 0 0 5px rgba(244, 76, 101, 1) !important;
        border: 1px solid rgba(244, 76, 101, 1);
        outline-color: rgba(244, 76, 101, 1);
    }
}

select {
    &:focus {
        box-shadow: 0 0 5px rgba(244, 76, 101, 1) !important;
        border: 1px solid rgba(244, 76, 101, 1);
        outline-color: rgba(244, 76, 101, 1);
    }

    font-family: inherit;
    font-size: 100%;
    margin: 0;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
}


//
//  Banner Slider - Overrides
//  ---------------------------------------------

.cms-index-index {
    .nav-sections,
    .page-header {
        margin-bottom: 0;
    }
}


//
//  Footer Section - Overrides
//  ---------------------------------------------

.footer {
    &.content {
        border-top: none;
        margin-top: 0;
        padding-bottom: 0;

        .logo {
            float: none;
            position: relative;
            top: 0;

            img {
                max-width: 225px;
                margin-bottom: 25px;
            }
        }

        .social-media {
            a > i {
                font-size: 18px;
                width: 20px;
                height: 20px;
                padding: 5px;
                margin-right: 5px;
                text-align: center;
                line-height: 20px;
                vertical-align: middle;
                color: #F44C65;
                border: 2px solid #F44C65;
                border-radius: 50%;
            }

            a:hover > i {
                color: #22396F;
                border-color: #22396F;
            }
        }
    }

    &.links.address {
        margin: 0;
    }
}

.footer-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
}
